<html>

<h1> Log in page </h1>

{% if error %}
    Wrong username or password
{% endif %}

<body>

    <form action="" method="get">
        username <input type="text" name="username">
        <br>
        password <input type="password" name="password">
        <br>
        <input type="radio" name="usertype" value="teacher"> teacher
        <br>
        <input type="radio" name="usertype" value="student"> student
        <br>
        <input type="submit" value="submit">

    </form>

</body>

</html>